{% extends 'base.html.twig' %}

{% block title %}Register!
{% endblock %}

{% block body %}
	<div class="d-flex align-items-center py-4 bg-body-tertiary">
		<main class="form-signin m-auto">
		{% include "messages.html.twig" %}
			<form method="post" action="{{ path('app_register') }}">
				<div class="d-flex align-items-center mb-4">
					<img class="p-0" src="./images/logotipo.svg" width="72" height="57">

					<h1 class="h3 fw-normal my-0 ms-2">Sistema Estoque</h1>
				</div>

				<div class="form-floating mb-2">
					<label for="name">Nome</label>
					<input type="text" name="name" id="name" class="form-control" required autofocus>
				</div>

				<div class="form-floating mb-2">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" class="form-control" autocomplete="email" required autofocus>
				</div>

				<div class="form-floating mb-2">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
				</div>

				<button class="btn btn-primary w-100 py-2" type="submit">
					Sign in
				</button>
				<p class="mt-2">Já tem uma conta?<a href="{{ path("app_login") }}" style="text-decoration: none">
						Fazer login!</a>
				</p>
				<p class="mt-5 mb-3 text-body-secondary text-center">&copy; MS Code 2025</p>
			</form>
		</main>
	</div>
{% endblock %}
